html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('bg.jpg');
    background-size: cover; /* 추가: 배경 이미지를 창 사이즈에 맞게 확대 또는 축소 */
    background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    min-height: 100vh; /* body의 최소 높이를 화면의 높이와 같게 설정 */
}

canvas {
    display: block;
  }

#name {
    position: absolute;
    font-family: "Syncopate", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 50px;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    margin-top: 20px;
    margin-left: 20px;
}

.title {
    display: flex;
    align-items: center;
    height: 15vh;
    overflow: hidden;
}

.scroll {
    white-space: nowrap;
    margin: 0 2em; 
}

.scroll div {
    display: flex;
    gap: 2em;   
}

.scroll p {
    font-family: "Syncopate", sans-serif;
    font-size: 60px;
    color: black;
    font-weight: bold;
    margin-bottom: 0;
}

.RightToLeft {
    animation: RightToLeft 10s infinite linear;
}

@keyframes RightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.work {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    align-items: center;
    width: 100%;
    height: 50vh;
    color: white;
    position: relative;
    display: flex; /* Flexbox 사용 */
    flex-wrap: wrap; /* 요소들을 여러 줄에 걸쳐 배치 */
    justify-content: center; /* 요소들을 수평으로 중앙 정렬 */
}

.work a {
    text-decoration: none;
    color: inherit;
}

.work div {
    font-family: "Syncopate", sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center; /* 텍스트 가운데 정렬 */
    cursor: pointer;
    flex: 1 0 45%; /* 요소 너비 지정 */
    margin: 10px; /* 요소 사이의 간격 조정 */
}

.work .text1,
.work .text2,
.work .text3,
.work .text4,
.work .text5,
.work .text6,
.work .text7,
.work .text8,
.work .text9 {
    font-weight: bold;
    margin-top: 120px;
    margin-bottom: 50px; /* 각 요소 사이 여백 추가 */
    text-align: center; /* 텍스트 가운데 정렬 */
    width: 45%; /* 요소 너비 지정 */
}

.text1 { order: 2; } 
.text2 { order: 5; }
.text3 { order: 1; }
.text4 { order: 8; }
.text5 { order: 4; }
.text6 { order: 9; }
.text7 { order: 3; }
.text8 { order: 6; }
.text9 { order: 7; }

.text1 { transform: rotate(5deg); }
.text2 { transform: rotate(-5deg); }
.text3 { transform: rotate(10deg); }
.text4 { transform: rotate(-10deg); }
.text5 { transform: rotate(15deg); }
.text6 { transform: rotate(-15deg); }
.text7 { transform: rotate(20deg); }
.text8 { transform: rotate(-20deg); }
.text9 { transform: rotate(25deg); }

.text1,
.text3,
.text5,
.text7,
.text9 {
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgb(0, 21, 255)) drop-shadow(0 0 30px rgb(0, 21, 255));
}

.text2,
.text4,
.text6,
.text8 {
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgb(0, 255, 140)) drop-shadow(0 0 30px rgb(0, 255, 140));
}

.text3 {
    filter: drop-shadow(0 0 5px rgb(255, 0, 153)) drop-shadow(0 0 30px rgb(255, 0, 153));
}

.text4 {
    filter: drop-shadow(0 0 5px rgb(60, 0, 255)) drop-shadow(0 0 30px rgb(60, 0, 255));
}

.text9 {
    filter: drop-shadow(0 0 5px rgb(0, 255, 136)) drop-shadow(0 0 30px rgb(0, 255, 136));
}



  .footer {
    position: fixed; 
    bottom: 0;
    left: 0; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999; /* 다른 요소보다 위에 표시되도록 z-index 설정 */
}



 .footer .insta a{
    text-decoration: none;

 }

 .footer .insta p {
    position: fixed;
    bottom: 3px;
    left: 10px;
    font-family: "Tomorrow", sans-serif;
    font-style: italic; /* 이탤릭체를 사용하여 기울기 효과 부여 */
    transform: rotate(5deg);
    font-size: 35px;
    color: white;
    filter: drop-shadow(0 0 5px rgb(17, 0, 255)) drop-shadow(0 0 30px rgb(0, 8, 255));
 }

 .footer .copyright {
    margin-top: 8px; /* copyright와의 간격 조절 */
}

.footer .copyright a {
    text-decoration: none;
    font-family: "Tomorrow", sans-serif;
    font-size: 16px;
    color: rgb(0, 21, 255);
}

.footer .copyright p {
    margin: 0;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px; 
    margin-top: -150px; /* Half the height */
    margin-left: -150px; /* Half the width */
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgb(178, 255, 230)) drop-shadow(0 0 30px rgb(178, 255, 230));
}


/* Webkit 스크롤바 스타일링 (Chrome, Safari 등) */
::-webkit-scrollbar {
    width: 7px; /* 스크롤바 너비 */
  }
  
  ::-webkit-scrollbar-track {
    background-color: 01fdb5; /* 스크롤바 배경색 */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #01fdb5; /* 스크롤바 색상 */
    border-radius: 1px; /* 스크롤바 모서리의 반경 */
  }


/* 미디어 쿼리 추가 */
@media only screen and (max-width: 768px) {
    .title .scroll .RightToLeft p {
        font-size: 35px !important; /* 모바일 화면에서 제목 폰트 크기 줄이기 */
    }

    .work .text1 p,
    .work .text2 p,
    .work .text3 p,
    .work .text4 p,
    .work .text5 p,
    .work .text6 p,
    .work .text7 p,
    .work .text8 p,
    .work .text9 p {
        position: relative !important;
        font-size: 18px;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }



    .footer .insta p {
        font-size: 25px;
        right: 5px;
}

    .footer .copyright p {
        font-size: 7px;
    }
}
